<!DOCTYPE html>
<html lang="en">

<head>
  <title>Student Marks Prediction</title>
  <style>
    * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }

    body {
      background-color: aliceblue;
      color: #999;
    }

    header {
      background-color: #fff;
      width: 100%;
      font-size: larger;
      text-align: center;
      padding: 20px;
    }

    h2 {
      text-align: center;
    }
  </style>
</head>

<body>
  <header>
    <h3>
      Machine learning project for predicting the students marks
    </h3>
  </header>
  <main>
    <h2>Welcome to the Home page</h2>
    <h2>
      <a href="predictdata">Prediction page</a>
    </h2>
  </main>
</body>

</html>